<.banner text="Administration" />

<.banner_link text="Invitation keys" nav="/admin/invitation_keys"/>
<.banner_link text="Users" nav="/admin/users"/>
<.banner_link text="System message" nav="/admin/system_message"/>
