<.banner>Administration</.banner>

<.banner_link href="/admin/invitation_keys">Invitation keys</.banner_link>
<.banner_link href="/admin/users">Users</.banner_link>
<.banner_link href="/admin/system_message">System message</.banner_link>

<.banner_link href="/admin/recipes">Recipes</.banner_link>