<h1>Home</h1>

<%= if @current_user.is_admin do %>
          <.link
            href={~p"/admin"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Administration
          </.link>
<% end %>